<div class=row>
  <div class="col-8 offset-3">
    <%= render "public/shared/error_messages", resource: @post %>
  </div>
</div>
<div class="row">
  <div class="col-7 offset-2 mb-3">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">レビュー詳細</h5>
        <% unless @post.user == current_user || current_user.guest_user? %>
          <div id="favorite_btn_<%= @post.id %>">
            <%= render 'partial_template/favoritebtn', post: @post %>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
             <tr>
              <th style="width: 110px;">投稿日</th>
              <td style="text-align: center;"><%= @post.created_at.strftime("%Y年%m月%d日") %></td>
            </tr>
            <tr>
              <th>ユーザー名</th>
              <td style="text-align: center;"><%= @post.user.name %></td>
            </tr>
            <tr>
              <th>性別</th>
              <td style="text-align: center;"><%= @post.user.sex %></td>
            </tr>
            <tr>
              <th>タイトル</th>
              <td style="text-align: center;"><%= @post.title %></td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td style="text-align: center;"><%= @post.genre.name %></td>
            </tr>
            <tr>
              <th>型番</th>
              <td style="text-align: center;"><%= @post.product_name %></td>
            <tr>
              <th>おすすめ</th>
              <td style="text-align: center;"><%= render 'static_rate', post: @post %></td>
            </tr>
            <tr>
              <th></th>
              <td style="text-align: center;">
                <button type="button" data-toggle="modal" data-target="#exampleModalLong">
                  <%= image_tag @post.get_image, height: 200 %>
                </button>
                <div class="tag-box">
                  <% @post.tags.each do |tag| %>
                    <span class="badge badge-success"><%= tag.name %></span>
                  <% end %>
                </div>
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-body">
                      <%= image_tag @post.get_image, height: 600 %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>本文</th>
              <td><%= @post.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center mt-4">
       <% if @post.user == current_user %>
       <%= link_to "編集",edit_post_path(@post),class:"btn btn-outline-success mr-5" %>
       <% end %>
       <% if @post.user == current_user %>
       <%= link_to "削除", post_path(@post), class:"btn btn-outline-danger ml-5", method: :delete , data: {confirm: "本当に消しますか？"} %>
       <% end %>
     </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">コメント欄</h5>
      </div>
      <div class="card-body">
        <div id="comments_list">
          <%= render 'public/comments/comments_list', post: @post %>
        </div>
          <% unless @post.user == current_user || current_user.guest_user? %>
            <div>
              <%= render 'public/comments/form', post: @post , comment: @comment %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>