<div class="row">
  <div class="col-7 offset-2 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">レビュー詳細</h5>
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
             <tr>
              <th>投稿日</th>
              <td><%= @post.created_at.strftime("%Y年%m月%d日") %></td>
            </tr>
            <tr>
              <th>ユーザ名</th>
              <td><%= @post.user.name %></td>
            </tr>
            <tr>
              <th>性別</th>
              <td><%= @post.user.sex %></td>
            </tr>
            <tr>
              <th>タイトル</th>
              <td><%= @post.title %></td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td><%= @post.genre.name %></td>
            </tr>
            <tr>
              <th>型番</th>
              <td><%= @post.product_name %></td>
            <tr>
              <th>おすすめ</th>
              <td><%= render 'static_rate', post: @post %></td>
            </tr>
            <tr>
              <th></th>
              <td>
                <button type="button" data-toggle="modal" data-target="#exampleModalLong">
                  <%= image_tag @post.get_image, width: 200, height: 200 %>
                </button>
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-body">
                      <%= image_tag @post.get_image, width: 500, height: 500 %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>本文</th>
              <td><%= @post.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">コメント欄</h5>
      </div>
      <div class="card-body">
        <div id="comments_list">
          <%= render 'public/comments/comments_list', post: @post %>
        </div>
          <% unless @post.user == current_user || current_user.guest_user? %>
        <div>
          <%= form_with model: [@post, @comment], url:post_comments_path(@post),method: :post do|f| %>
          <%= f.text_area :text, rows: '5', placeholder: "コメントをここに" %>
        </div>
        <div class="text-center mb-2">
          <%= f.submit "コメント", class: "btn btn-primary" %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
     <div class="btn-group">
       <% if @post.user == current_user %>
       <%= link_to "編集",edit_post_path(@post),class:"btn btn-sm btn-success" %>
       <% end %>
       <% if @post.user == current_user %>
       
       <% end %>
     </div>
  </div>
</div>