<div class="row my-5">
  <h2 class="col-12 text-center"><%= @genre.name %>一覧（全<%= @genre.posts.count %>件）</h2>
</div>

<div class="row">
  <div class="genre_search">
    <div class="col-4">
      <%= render 'genre', genres: @genres %>
    </div>
  </div>
  <div class="col-8 justify-content-start">
    <ul class="nav justify-content-center mb-2">
      <li class="nav-item mr-1">
        <%= link_to '新しい順', genre_path(latest: "true"), class:"btn btn-outline-dark #{'active' if params[:latest]}" %>
      </li>
      <li class="nav-item mr-1">
        <%= link_to '古い順', genre_path(old: "true"), class:"btn btn-outline-dark #{'active' if params[:old]}" %>
      </li>
      <li class="nav-item mr-1">
        <%= link_to 'おすすめ度 高い順', genre_path(star_count_many: "true"), class:"btn btn-outline-dark #{'active' if params[:star_count_many]}" %>
      </li>
      <li class="nav-item mr-1">
        <%= link_to 'おすすめ度 低い順', genre_path(star_count_few: "true"), class:"btn btn-outline-dark #{'active' if params[:star_count_few]}" %>
      </li>
    </ul>
    <div class="mb-3 mx-auto" style="max-width: 700px; ">
      <div class="row no-gutters">
        <% if !@posts.empty? %>
          <% @posts.each do |post| %>
            <div class="card col-12" style="margin-bottom: 20px;">
              <div class="row">
                <div class="col-4 m-auto text-center border-right">
                  <%= link_to image_tag(post.user.get_profile_image, width: 120, height: 120, class: 'rounded-circle'), user_mypage_path(post.user) %><br>
                  ユーザー名: <%= post.user.name %>
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                      <%= link_to post.title, post_path(post.id) %>
                    </h5>
                     <p class="card-text">
                       <div class="row">
                         <div class="col-4">品番</div>
                         <div class="col-8">：<%= post.product_name %></div>
                       </div>
                       <div class="row">
                         <div class="col-4">参考になった</div>
                         <div class="col-8">：<%= post.favorites.count %> 件</div>
                       </div>
                       <div class="row">
                         <div class="col-4">おすすめ</div>
                         <div class="col-8">：<%= render 'public/posts/static_rate', post: post %></div>
                       </div>
                     </p>
                     <p class="card-text text-right text-secondary"><%= post.created_at.strftime("%Y年%m月%d日") %>投稿</p>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
      </div>
    </div>
    　<%= render 'partial_template/paginate', posts: @posts %>
      <% else %>
      まだ投稿がありません
      <% end %>
  </div>
</div>