<div class="row">
  <div class="col-7 offset-2 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">レビュー詳細</h5>
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
             <tr>
              <th>投稿日</th>
              <td><%= @post.created_at.strftime("%Y年%m月%d日") %></td>
            </tr>
            <tr>
              <th>ユーザ名</th>
              <td><%= @post.user.name %></td>
            </tr>
            <tr>
              <th>性別</th>
              <td><%= @post.user.sex %></td>
            </tr>
            <tr>
              <th>タイトル</th>
              <td><%= @post.title %></td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td><%= @post.genre.name %></td>
            </tr>
            <tr>
              <th>型番</th>
              <td><%= @post.product_name %></td>
            <tr>
              <th>おすすめ</th>
              <td><%= render 'public/posts/static_rate', post: @post %></td>
            </tr>
            <tr>
              <th></th>
              <td>
                <button type="button" data-toggle="modal" data-target="#exampleModalLong">
                  <%= image_tag @post.get_image, width: 200, height: 200 %>
                </button>
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-body">
                      <%= image_tag @post.get_image, width: 500, height: 500 %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>本文</th>
              <td><%= @post.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center mt-4">
      <%= link_to "投稿削除", adminpost_path(@post), class:"btn btn-outline-danger", method: :delete , data: {confirm: "本当に消しますか？"} %>
    </div> 
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">コメント欄</h5>
      </div>
      <div class="card-body">
          <% @post.comments.each do |comment| %>
            <div class="card mb-3">
              <div class="card-body">
                <span class="comment-name small"><%= comment.user.name %></span>
                <span><%= link_to '削除', admin_comment_path(comment), method: :delete %></span>
             　  <p class="card-text"><%= comment.text %></p>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>