<div class="container">
  <div class="row d-flex justify-content-center">
    <h5 class="border p-3 my-3">
      <%= @user.name %>さんのマイページ
    </h5>
  </div>

  <div class="row d-flex justify-content-center">
    <div>
      <table class="table table-borderless">

        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>

        <tr>
          <td>氏名</td>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <td>性別</td>
          <td><%= @user.sex %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>

        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @user.user_status %>
              <p>退会</p>
            <% else %>
              <p>有効</p>
            <% end %>
          </td>
        </tr>
      </table>

      <table class="table table-borderless">
        <div class="row d-flex justify-content-center">
        <tr>
          <td><%= link_to "編集する", edit_admin_user_path, class: "btn btn-success" %></td>
        </tr>
      </div>

      </table>
    </div>
  </div>
  
  <div>
  <h2>ユーザー投稿一覧</h2>
  <table>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><p><%= image_tag post.user.get_profile_image, width: 100, height: 100 %></p></td>
          <td><p>投稿日：<%= post.created_at.strftime("%Y年%m月%d日") %></p></td>
          <td><p>タイトル：<%= link_to post.title, admin_post_path(post.id) %></p></td>
          <td><p>ジャンル：<%= post.genre.name %></p></td>
          <td><p>型番：<%= post.product_name %></p></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
      <div class="d-flex justify-content-center">
      <%= paginate @posts %>
      </div>
</div>
<br><br><br><br><br><br><br><br>
</div>