<!DOCTYPE html>
<html>
  <head>
    <title>KadenTrendNavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/25c9399caa.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
     <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          <%= image_tag "家電トレンドnavi.jpg", width: '150px', class: "img-fluid" %>
        </a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class='nav-item'>
                <%= link_to '投稿一覧', admin_posts_path, class: 'btn btn-outline-dark mr-1' %>
              </li>
              <li class='nav-item'>
                <%= link_to '会員一覧', admin_users_path, class: 'btn btn-outline-dark mr-1' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'ジャンル一覧', admin_genres_path, class: 'btn btn-outline-dark mr-1' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>
              </li>
              

            <% elsif user_signed_in? %>
              <li class="text-secondary mr-5 mt-2">ようこそ、<%= current_user.name %>さん！</li>
              
              <% if current_user.guest_user? %>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'マイページ', user_mypage_path(current_user), class: 'btn btn-outline-dark mr-1' %>
                </li>
                <li class="nav-item">
                  <%= link_to '投稿する', new_post_path, class: "btn btn-outline-dark mr-1" %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to '投稿一覧', posts_path, class: "btn btn-outline-dark mr-1" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-dark mr-1" %>
              </li>
              
              
            <% else %>
              <li class="nav-item">
                <%= link_to '投稿一覧', posts_path, class: "btn btn-outline-dark mr-1" %>
              </li>

              <li class="nav-item">
                <%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-dark mr-1" %>
              </li>

              <li class="nav-item">
                <%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-dark" %>
              </li>
              
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div id="notice">
         <div class="alert alert-success" role="alert">
           <%= flash[:notice] %>
         </div>
      </div>
      <%= yield %>
    </main>
    <footer>&copy; 2023 kaden_trend_navi</footer>
  </body>
</html>
